    /* ДЕКЛАРАЦИИ ШРИФТОВ */
    @font-face {
        font-family: 'Geologica_Light';
        src: url('assets/font/Geologica_Light.woff2') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
    }

    @font-face {
        font-family: 'Unbounded';
        src: url('assets/font/Unbounded_Regular.woff2') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
    }

    /* Стили для кнопок управления строками */
    .actions-cell {
        text-align: center;
        vertical-align: middle;
        min-width: 120px;
    }

    body .p {
        font-family: 'Unbounded' !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 140% !important;

    }




    .document-subtitle,
    .address,
    .document-subtitle2,
    .contact_stroke_text,
    .table_avatar,
    .avatar_text,
    .avatar_prof,
    .osnova {
        border: none !important;
    }

    .contact_stroke_name {
        border-bottom: none !important;
        border-left: none !important;
    }

    .row-btn:hover {
        background: #005a87;
    }

    .row-btn.add-below-st {
        background: #28a745;
    }

    .row-btn.add-below-st:hover {
        background: #1e7e34;
    }

    .row-btn.add-below-ysl {
        background: #ffc107;
        color: #000;
    }

    .row-btn.add-below-ysl:hover {
        background: #e0a800;
    }

    .row-btn.toggle-type {
        background: #17a2b8;
    }

    .row-btn.toggle-type:hover {
        background: #138496;
    }

    .row-btn.delete-row {
        background: #dc3545;
    }

    .row-btn.delete-row:hover {
        background: #c82333;
    }

    /* Скрываем кнопки в нередактируемом режиме */
    table:not(.editing-mode) .row-btn,
    .none,
    .address::before,
    .red_name_men,
    .red_tel_men,
    .red_input_tel {
        display: none;
    }


    .dark-layer {

        z-index: -1;
    }

    /* Показываем кнопки только при редактировании */
    table.editing-mode .row-btn {
        display: inline-block;
    }

    /* Убираем стандартные outline для редактируемых ячеек */
    .table_info[contenteditable="true"]:focus,
    .table_itog[contenteditable="true"]:focus,
    .table_tit[contenteditable="true"]:focus {
        outline: none !important;
        background-color: transparent !important;
    }

    /* Легкое выделение при фокусе */
    .table_info[contenteditable="true"]:focus {
        box-shadow: inset 0 0 0 1px #007cba;
    }

    .table_tit[contenteditable="true"]:focus {
        box-shadow: inset 0 0 0 1px #28a745;
    }

    /* Стили для нередактируемых итоговых ячеек */
    .table_info[contenteditable="false"] {
        cursor: not-allowed !important;
        background-color: #f5f5f5 !important;
    }

    body {
        margin: 0;
        padding: 100px 0 0 0 !important;
        /* 200px отступ сверху для ВСЕХ страниц */
        font-family: 'Unbounded', sans-serif;
        box-sizing: border-box;
    }

    /* ШАПКА - фиксированная в верхнем отступе */
    .header-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        color: black;
        padding: 15px 30px;
        font-family: 'Unbounded', sans-serif;
        font-size: 24px;
        box-sizing: border-box;

        height: 60px;
        z-index: 1000;
    }


    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-logo img {
        height: 35px;
        width: auto;
        display: block;
    }

    .header-text {
        text-align: right;
        font-size: 16px;
        font-weight: 600;
        padding-right: 100px;
        margin-top: -10px;
        color: #ffffff;
    }

    /* ОСНОВНОЙ КОНТЕНТ */
    .content-wrapper {
        padding: 20px;
    }

    /* ТЕСТОВЫЙ БЛОК ДЛЯ ПРОВЕРКИ ОТСТУПОВ */

    /* ДЛЯ КАЖДОЙ СТРАНИЦЫ ДОБАВЛЯЕМ ОТСТУП */
    .page-break {
        page-break-before: auto;
    }

    .pdf-table {
        page-break-inside: avoid
    }



    /* ТЕМНАЯ ТЕМА - ЧЕРНЫЙ ФОН, БЕЛЫЙ ТЕКСТ */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-family: 'Unbounded'
    }


    body {
        font-family: 'Unbounded', sans-serif;
        font-size: 12px;
        line-height: 1.4;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        min-height: 100vh;
        margin: 0;
        padding: 20px;
        position: relative;
    }

    .pdf-container .text {
        position: absolute;
        right: 125px;
        font-size: 18px;
        bottom: 370px;
        color: #ffffffb2;
    }

    */ body .p,
    .textcols-column,
    .textcols-item,
    .textcols-column .name,
    .textcols-column .data,
    .tr_info .table_info {
        border: none !important;
        ;
    }

    .tr_info .table_info.actions-cell {
        display: none;
    }

    body .file-content-editor {
        background: transparent !important;
        width: auto !important;
        height: auto !important;
    }

    body:before {
        position: absolute;
        conten: '';
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }



    body .file-content-editor {
        background: transparent !important;
    }

    h1 {
        font-family: unbounded, sans-serif;
    }



    .pdf-container {
        max-width: 100%;
        margin: 0 auto;

        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        min-height: 100vh;
        color: #ffffff !important;
    }

    /* Заголовки с жирным начертанием */
    h1 {
        font-family: 'Geolo1gica_Light', sans-serif;
        font-size: 24px;
    }