  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
  }

  .container {
      margin: 0 auto;
      padding: 20px;
  }

  .massage_h2 {
      color: #000 !important;
  }

  h2,
  h3 {
      color: black;
      font-size: 20px;
  }

  .header {
      background: #f8f8f8;
      padding: 15px;
      border-radius: 5px;
  }

  .content {
      margin: 20px 0;
  }

  .attachments {
      background: #f0f0f0;
      padding: 15px;
      border-radius: 5px;
      margin: 20px 0;
  }

  .footer_mes {
      border-top: 1px solid #ddd;
      padding-top: 10px;
      font-size: 12px;
      color: #666;
  }


  .mes_link {
      text-decoration: underline;
  }

   .shablon_podval{
        font-size: 10px;
      }

  /* Мобильные стили для email */
  @media only screen and (max-width: 480px) {
      .container {
          padding: 10px !important;
      }

      h2,
      h2.title {
          font-size: 18px !important;
          line-height: 24px !important;
      }

      p,
      p.text,
      a {
          font-size: 14px !important;
          line-height: 18px !important;
      }

      small {
          font-size: 12px !important;
          line-height: 16px !important;
      }

      .attachments ul {
          padding-left: 15px !important;
      }

      .header,
      .attachments,
      .footer {
          padding: 10px !important;
      }

      .shablon_podval{
        font-size: 8px;
      }
  }